body {
    display: grid;
    grid-template-areas:
            "header header"
            "nav article"
            "nav ads"
            "footer footer";
    grid-template-rows: 80px 1fr 73px 73px;
    grid-template-columns: 285px 1fr;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}
header, footer, article, nav, div {
    padding: 20px;
    background:#9BCE0B;
}
#pageHeader {
    grid-area: header;
}
#pageFooter {
    grid-area: footer;
}
#mainArticle {
    grid-area: article;
}
#mainNav {
    grid-area: nav;
}
#siteAds {
    grid-area: ads;
}



