/*4 rows 3 columns*/
/*font-family: Roboto, sans-serif;*/
/*tablet width breakpoint: 992px and below mobile width breakpoint: 600px and below*/

* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

#mainNav {
    background:black ;
}
#mainNav a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 1.5em;
}
nav a:hover {
    background: #848487;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: Roboto, sans-serif;
}
nav ul {
    display: flex;
    width: 100%;
}

#sideNav a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 1em;
}

#sideNav ul {
    flex-direction: column;
}


#sideNav a {
    width: 100%;
    font-weight: bold;
    border-radius: .2em;
    transition: background-color .1s;
}

#sideNav a:hover {
    background:white ;
    color: black;
}

#bottomNav {
    background:transparent;

}
#bottomNav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1.5em;
}

.parent {
    display: grid;
    height: 100vh;
    grid-template-columns: .7fr repeat(3, 1fr);
    grid-template-rows: .3fr repeat(3, 1fr) .4fr .3fr .2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.div1 { grid-area: 1 / 1 / 2 / 5;
}
.div2 { grid-area: 2 / 1 / 8 / 2;
    background-color: lightgray;
}

.div3 { grid-area: 6 / 2 / 7 / 5;
    background-color: #847477;
    padding: 1.5em;
    color: white;
    font-family: Roboto, sans-serif;
}
.div4 { grid-area: 7 / 2 / 8 / 5;
    background-color:#333333;
    color: white;
    padding: 6.5px;
    font-family: Roboto, sans-serif;
}
.div5 { grid-area: 5 / 2 / 6 / 4;
    padding: 10px;
    font-family: Roboto, sans-serif;
}
/*.div6 { grid-area: 2 / 4 / 6 / 5; }*/
/*.div7 { grid-area: 2 / 2 / 5 / 4; }*/