/*1. must be mobile responsive
 2.Have contact information
 3.Link to social media presence
 4. Link to GitHub
 5. Contain a portfolio
 6. Link resume and identify as job seeker
*/
/*may want to use parallax scrolling*/
/**{*/
/*    font-family: 'Raleway', sans-serif;*/
/*}*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/

    background-color: darkcyan;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding : 5px;
    margin: 7px;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}

li a:hover {
    background-color: cadetblue;
}
#profile {
    display: flex;
    width: 100%;
    height: 100%;
}
h1 {
    position: absolute;
    top: 20%;
   text-align: left;
    margin-left: 20px;
    font-size: 50px;
    color: floralwhite;
    font-weight: bold;
    margin-bottom: 0;


}
h2 {
    position: absolute;
    top: 30%;
    margin-left: 22px;
    font-family: 'Shadows Into Light', cursive;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 45px;
    color: floralwhite;
}
button {
    position: absolute;
    background-color:#0F6367 ;
    font-size: 25px;
    color: floralwhite;
    font-family: 'Shadows Into Light', cursive;
    border-radius: 8px ;
    top:52%;
    left:43%;
}

#button {
    text-decoration: none;
    position: absolute;
    background-color:#0F6367 ;
    font-size: 26px;
    padding: 6px;
    color: floralwhite;
    font-family: 'Shadows Into Light', cursive;
    border-radius: 8px ;
    top:52%;
    left:44%;
}
