/*1. must be mobile responsive
 2.Have contact information
 3.Link to social media presence
 4. Link to GitHub
 5. Contain a portfolio
 6. Link resume and identify as job seeker
*/
/*may want to use parallax scrolling*/
*{
    font-family: 'Shadows Into Light', cursive;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkcyan;

}

li {
    /*float: left;*/
    align-items: center;


}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 7px;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}

li a:hover {
    background-color: cadetblue;
}
#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}
h1 {
   text-align: center;
    font-size: 30px;
    color: lightcoral;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Turret Road', cursive;
    font-size: 25px;
    color: darkred;

}
.hexagon {
    position: relative;
    width: 50px;
    height: 28.87px;
    background-color: #cc6575;
    margin: 14.43px 0;

}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 14.43px solid #cc6575;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 14.43px solid #cc6575;
}
/*#about {*/
/*    display: flex;*/

/*}*/




