html{
    width: 1600px;
}
h1, p {
    text-align: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
h1 {
    font-size: 40px;
}
h2{
    font-family: 'Press Start 2P', cursive;
    color: lightskyblue;
    font-size: 30px;
}

.parentPics{
    position: relative;
    display:block;
    margin-left: auto;
    margin-right: auto;

}
#marioGif {
    /*position: absolute;*/
    /*top:23%;*/
    /*left:38%;*/
    /*width: 20%;*/

    position: absolute;
    top: 30px;
    left: 35%;
    z-index: 2;
    /*display: block;*/
    /*margin-left: 30%;*/
    /*margin-right: 50%;*/
    /*width: 20%;*/
    /*z-index: 1;*/
}
#retrotv{
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*z-index: 0;*/

    position: absolute;
    z-index: 3;
    top: 30%;
    left: 34.5%;

}
#controller{
    /*display: block;*/
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    /*height: 10%;*/
    width: 40%;
    z-index: 5;

    position: absolute;
    top: 355px;
    left:29%;
    /*padding-bottom: 30px;*/

}
body {
    background-color: #111111;
}
#redDot-up {
    z-index: 6;
    position: absolute;
    top:420px;
    left:31.5%;
}
#redDot-down {
    z-index: 6;
    position: absolute;
    top:510px;
    left:31.5%;
}
#redDot-left {
    z-index: 6;
    position: absolute;
    top:465px;
    left:29%;
}
#redDot-right {
    z-index: 6;
    position: absolute;
    top:465px;
    left:34.5%;
}
#b-button {
    z-index: 6;
    position: absolute;
    top:540px;
    left:55.25%;
}
#a-button {
    z-index: 6;
    position: absolute;
    top:540px;
    left:60.35%;
}
#start-button {
    z-index: 6;
    position: absolute;
    top:547px;
    left:48.7%;
}
.glow {
    /*font-size: 80px;*/
    color: darkred;
    text-align: center;
    -webkit-animation: glow 1ms ease-in-out infinite alternate;
    -moz-animation: glow 1ms ease-in-out infinite alternate;
    animation: glow 1ms ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px gray, 0 0 50px #9BCE0B, 0 0 60px gray, 0 0 70px gray;
    }

    to {
        text-shadow: 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFF, 0 0 50px gray, 0 0 60px #9BCE0B, 0 0 70px gray, 0 0 80px gray;
    }
}