* {
    box-sizing: border-box;

}

/*Centers the entire page*/
body {
    max-width: 960px;
    margin: auto;
}

header {
    width: 100%;
    height: 20%;
}
h1 {
   float:  left;
}
ul {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;

}

nav {
    margin-top: 20px;
    margin-left: auto;
    float: right;

}

li {
    float: left;
    /*display: flex;*/

}

li a {
    display: inline-block;
    padding: 10px;
}

img {
    width: 890px;
    heighth: 385px;
    /*margin: 50px;*/
}

ul {
    list-style-type: none;
    display: inline;
}

section{
    display: block;
    width: 100%;
}
.main * {
    width: 60%;
    float: left;
    margin-right: 30px;
}
.sub-section * {
    margin-left: 30px;
    margin-right: 70px;
}



@media screen and (max-width:734px) {
    body {
        max-width: 734px;
        margin: auto;
    }


    h1 {
        display: inline;
        text-align: center;
        width: 450px;
    }

    .alert-info {
        display: flex;
        margin: 13px;
       justify-content: center;
        background-color: #CCFFFF;
        padding: 20px;
        /*border-color: #848487;*/
    }
    #main {
        display: flex;
    }

    ul {
        display: inline-block;
        /*flex-direction: column;*/
        background-color: transparent;
        margin: 5px 35px  7px 2px ;
        /*align-items: stretch;*/

    }

    /*ul {*/
    /*    list-style-type: none;*/
    /*    margin: 30px;*/
    /*    padding: 0;*/
    /*    overflow: hidden;*/
    /*  */

    /*}*/




    li a {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 5px 35px  7px 2px ;
        background-color: #848487;
        padding: 30px;

    }

    img {
        display: flex;
        height:224px;
        width: 339px;
        /*align-items: center;*/
        margin-left: 50px;

    }
    #main {
        display: flex;
        justify-content: center;
    }
}
