* {
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 20%;
}
h1 {
   float:  left;
}
ul {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: right;
}

li a {
    display: block;
    padding: 10px;
}

img {
    width: 890px;
    heighth: 385px;
    margin: 50px;
}

ul {
    list-style-type: none;
    display: inline;
}
#main {
    display: flex;
    justify-content: left;
}
/*.main {*/
/*    justify-content: left;*/
/*    !*flex-wrap: wrap;*!*/
}
/*.sub-section {*/
/*    float:right ;*/
}


/*@media screen and (max-width:760px) {*/
/*    h1 {*/
/*        text-align: center;*/
/*    }*/
/*    */
/*    .alert-info {*/
/*        display: flex;*/
/*       justify-content: center;*/
/*        background-color: #CCFFFF;*/
/*        */
/*    }*/

/*    ul {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: stretch;*/
/*        */
/*    }*/

/*    li {*/
/*        text-align: center;*/
/*        margin: 5px 35px  7px 2px ;*/
/*        background-color: #848487;*/
/*        padding: 5px;*/
/*    }*/

/*    img {*/
/*        height:344 px;*/
/*        width: 359px;*/
/*        align-items: center;*/
/*    }*/
/*}*/
