.fancy-header,h2, h3{
    color: cadetblue;
    text-decoration: underline;
}
.fancy-header, div.pictures {
   text-align: center;
}
/*command forward slash for a shorcut*/
body {
    background-image: url("../img/background.jpg");
    background-size: cover;
}
ul {
    list-style-type: square;

}
p,ol,ul,table {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
table, th, td {
    border: 2px solid cadetblue;
    border-collapse: collapse;
    width: 10%;
    color: darkblue;
}
a:link {
    color: darkturquoise;
}
a:visited {
    color: green;
}
a:hover {
    color: cornflowerblue;
}
.topnav {
    overflow: hidden;
    background-color: darkgrey;
    padding: 4px 4px;
    font-size: 20px;
    text-align: right;
}
div.logo {
    text-align: center;
}
#mission, li, td{
    color: darkslateblue;
}
#mission {
    text-align: center;
    line-height: 1%;
}
#quarentee {
    text-align: center;
    color: darkred;
    text-decoration: underline;
}
th{
    background-color: darkturquoise;
}
td {
    background-color: lightsteelblue;
}

