body{
    background-color: #A7ACB3;
}
.navbar {
    background-color: #323941 !important;
}
.nav-item, .navbar-brand  {
    color: whitesmoke !important;
}

.card {
    margin: 40px;
    background-color: transparent;
}
.card-body{
    outline: none !important;

}
img {
    /*margin: 30px;*/

}