body{
    background-color: #A7ACB3;
}
.navbar {
    background-color: #323941 !important;
}
.nav-item, .navbar-brand  {
    color: whitesmoke !important;
}

.card {
    margin-top: 40px;
    height:410px;
    width: 60%;

}

.card-img {
    /*margin: 30px;*/
    margin-top: 2.5px;
    margin-left: 12px;
    height: 400px;
    width: 300px;

}
.card-text {
    margin-left: 110px;
}
