html{
    width: 1600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

* {
    font-family: 'Roboto', sans-serif;
}
.mainContainer {
    background-image: url("../img/citybackground.jpg");
    object-fit: fill;
}

h3, .title {
    font-family: 'Poller One', cursive;
    color: honeydew;
}
h2 {
    font-family: 'Poller One', cursive;
    text-align: center;
    color: darkslategrey;
    margin: 0;
    padding-top: 10px;
    font-size: 40px;
}
.card-panel{
    filter: alpha(opacity=60);
    opacity: 0.8;


}
.title {
    font-size: 19px;
}
.nav-wrapper {
    background-color: #226666;
    color: honeydew;
}

#map {
    width: 77.8%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: flex;
    align-items: center;
    text-align: center;
}

.col{
    margin-left: 10px;
    width: 400px;
}
#today-temp, #tomorrow-temp, #next-temp{
    color: honeydew;
}

@media only screen and (min-width: 993px){
    .container {
        width:100%;
    }
}

